<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>


    <div class="form-group">
      <label for="lastName">Email ID:</label>
      <input formControlName="emailId" placeholder="Email id" name="emailId" class="form-control" id="emailId">
    </div>

    <div class="form-group">
      <label for="lastName">Nationality</label>
      <input formControlName="nationality" placeholder="Nationality" name="nationality" class="form-control" id="nationality">
    </div>

    <button class="btn btn-success">Add</button>
  </form>
</div>
